# 01. Importing libraries and data

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Importing data
path=r'C:\Users\Мунаввар\Desktop\bootcamps\Achievement 4\Instacart Basket Analysis'
df=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'final_combined.pkl'))

# 02. Using crosstab

In [5]:
#Using crosstab
crosstab = pd.crosstab(df['days_since_prior_order'], df['order_number'], dropna = False)

In [6]:
crosstab.to_clipboard()

In [7]:
df['order_number'].value_counts()

1     2076096
3     2048868
2     2046409
4     1818609
5     1626901
       ...
95      14516
96      13737
97      13356
98      12851
99      12421
Name: order_number, Length: 99, dtype: int64

In [8]:
df['days_since_prior_order'].value_counts()

7.0     3476198
30.0    3067374
6.0     2517498
5.0     2124434
4.0     2078648
8.0     1931945
3.0     1876188
2.0     1463724
9.0     1217841
14.0    1029656
10.0     967187
1.0      940474
13.0     851114
11.0     820761
12.0     774164
15.0     671458
16.0     461335
0.0      448329
21.0     444142
17.0     382114
20.0     379732
18.0     350587
19.0     334882
22.0     308849
28.0     253151
23.0     225834
27.0     204061
24.0     193421
25.0     180417
26.0     177775
29.0     175470
Name: days_since_prior_order, dtype: int64

In [10]:
df['customer_id']

0                1
1                1
2                1
3                1
4                1
             ...
32404854    106143
32404855     66343
32404856     66343
32404857     66343
32404858     66343
Name: customer_id, Length: 32404859, dtype: int32

In [11]:
df.loc[df['customer_id']==1]

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,first_name,last_name,gender,state,age,date_joined,number_of_dependants,fam_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
10,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
11,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
12,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
13,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
14,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
15,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
16,3367565,1,6,2,7,19.0,12427,2,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
17,550135,1,7,1,9,20.0,12427,3,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
18,3108588,1,8,1,14,14.0,12427,1,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
19,2295261,1,9,1,16,0.0,12427,6,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
20,2550362,1,10,4,8,30.0,12427,9,1,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
21,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
22,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
23,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
24,2254736,1,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
25,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
26,473747,1,3,3,12,21.0,10258,3,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
27,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
28,431534,1,5,4,15,28.0,10258,3,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
29,3367565,1,6,2,7,19.0,10258,3,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
30,550135,1,7,1,9,20.0,10258,2,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
31,3108588,1,8,1,14,14.0,10258,3,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
32,2295261,1,9,1,16,0.0,10258,5,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
33,2550362,1,10,4,8,30.0,10258,6,1,Pistachios,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
34,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
35,431534,1,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
36,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
37,550135,1,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
38,2550362,1,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
39,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
40,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
41,431534,1,5,4,15,28.0,25133,4,1,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
42,3367565,1,6,2,7,19.0,25133,4,1,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
43,550135,1,7,1,9,20.0,25133,4,1,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
44,3108588,1,8,1,14,14.0,25133,4,1,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
45,2295261,1,9,1,16,0.0,25133,3,1,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
46,2550362,1,10,4,8,30.0,25133,5,1,Organic String Cheese,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
47,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
48,431534,1,5,4,15,28.0,10326,5,0,Organic Fuji Apples,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
49,431534,1,5,4,15,28.0,17122,6,0,Honeycrisp Apples,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
50,431534,1,5,4,15,28.0,41787,7,0,Bartlett Pears,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
51,3108588,1,8,1,14,14.0,46149,5,0,Zero Calorie Cola,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
52,2295261,1,9,1,16,0.0,46149,2,1,Zero Calorie Cola,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
53,2550362,1,10,4,8,30.0,46149,2,1,Zero Calorie Cola,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
54,3108588,1,8,1,14,14.0,49235,6,0,Organic Half & Half,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
55,2295261,1,9,1,16,0.0,49235,1,1,Organic Half & Half,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
56,2550362,1,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
57,2550362,1,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
58,2550362,1,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [12]:
df.loc[df['order_number']==1]

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,first_name,last_name,gender,state,age,date_joined,number_of_dependants,fam_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
10,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
11,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
21,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
23,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404816,3320476,38979,1,1,11,NaN,13128,1,0,Purified Alkalkine Water with Minerals pH10,...,Frequent customer,Annie,Goodwin,Female,Indiana,57,12/15/2019,1,married,135623
32404819,968657,120516,1,2,9,NaN,8566,1,0,"Almond Butter, Smooth/Unsalted",...,Regular customer,Craig,Chandler,Male,Arizona,19,6/14/2019,0,single,76190
32404826,1600476,166751,1,5,11,NaN,49001,1,0,Melatonin 2.5 Mg Sublingual Orange Tablets,...,Frequent customer,Deborah,Glass,Female,Oregon,38,8/17/2018,1,married,41766
32404829,259165,106143,1,2,21,NaN,19675,1,0,Organic Raspberry Black Tea,...,Frequent customer,Gerald,Yates,Male,Hawaii,25,5/26/2017,0,single,53755
32404855,484769,66343,1,6,11,NaN,47210,1,0,Fresh Farmed Tilapia Fillet,...,Non-frequent customer,Jacqueline,Arroyo,Female,Tennessee,22,9/12/2017,3,married,46151