### Contents
    01. Importing libraries and data
    02. Combining data
    03. Exporting data

# 01. Importing libraries and data

In [5]:
#Importing pandas, numpy, os and data
import pandas as pd
import numpy as np
import os
path=r'C:\Users\Мунаввар\Desktop\bootcamps\Achievement 4\Instacart Basket Analysis'
df_ords_comb=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders.products_combined.pkl'))
df_prods=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

# 02. Combining data

In [6]:
# 4.Check the shape of the imported dataframe
df_ords_comb.shape

(32434489, 12)

In [7]:
df_prods.shape

(49672, 6)

In [8]:
df_ords_comb.head()

,order_id,customer_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [30]:
df_ords_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   customer_id             int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float64(1), int64(8)
memory usage: 2.4 GB

In [33]:
# Change types for ords data set


df_ords_comb['customer_id'] = df_ords_comb['customer_id'].astype('int32')
df_ords_comb['order_number']=df_ords_comb['order_number'].astype('int8')
df_ords_comb['order_day_of_week']=df_ords_comb['order_day_of_week'].astype('int8')
df_ords_comb['order_hour_of_day']=df_ords_comb['order_hour_of_day'].astype('int8')
df_ords_comb['days_since_prior_order']=df_ords_comb['days_since_prior_order'].astype('float16')
df_ords_comb['product_id']=df_ords_comb['product_id'].astype('int32')
df_ords_comb['add_to_cart_order']=df_ords_comb['add_to_cart_order'].astype('int8')
df_ords_comb['reordered']=df_ords_comb['reordered'].astype('int8')

In [34]:
df_ords_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   customer_id             int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int8
 8   reordered               int8
dtypes: float16(1), int32(2), int64(1), int8(5)
memory usage: 958.9 MB

In [41]:
# 5.Determine a suitable way to combine the orders_products_combined dataframe with your products data set.
df_combined=df_ords_comb.merge(df_prods,on='product_id', how='inner', indicator=True)

In [42]:
df_combined.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [43]:
df_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [44]:
df_combined.shape

(32404859, 14)

# 03. Exporting data

In [45]:
df_combined.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'combined_orders_producrs.pkl'))