### Contents
    01. Importing libraries and data
    02. Grouping data and aggregating variables

# 01. Importing libraries and data

In [3]:
#Importing pandas, numpy, os and merged data
import pandas as pd
import numpy as np
import os
path=r'C:\Users\Мунаввар\Desktop\bootcamps\Achievement 4\Instacart Basket Analysis'
ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merged_derived_data.pkl'))

# 02. Grouping data and aggregating variables

In [4]:
#Creating a subset of million rows
df=ords_prods_merge[:1000000]

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
#Grouping the variables
df.groupby('product_name')

In [5]:
#Average number of orders across each Instacart department.
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [ ]:
#Performing multiple aggregation
df.groupby('department_id').agg({'order_number':['mean', 'min', 'max']})

In [ ]:
#Aggregating data with transform
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['customer_id'])['order_number'].transform(np.max)
ords_prods_merge.head()

In [ ]:
#not to assign any options regarding the maximum number of rows to display.
pd.options.display.max_rows = None

In [ ]:
ords_prods_merge.head(100)

In [ ]:
#creating a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value. 
ords_prods_merge.loc[ords_prods_merge['max_order']>40, 'loyalty_flag']='Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40)&(ords_prods_merge['max_order']>10), 'loyalty_flag']='Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order']<=10, 'loyalty_flag']='New customer'
ords_prods_merge['loyalty_flag'].value_counts()

In [ ]:
ords_prods_merge[['customer_id', 'loyalty_flag', 'order_number']].head(60)

In [19]:
#Exporting the data
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merged_grouped_data.pkl'))